/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
::-webkit-input-placeholder { /* WebKit browsers */
   color:   #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:     #fff;
}

.wrapper{
max-width: 100vw;
margin: 0 auto;
}

.hamburger-menu{
	display: none;
}

#menu__toggle {
	opacity: 0;
 }

 .menu__btn {
	display: flex; 
	align-items: center; 
	position: absolute;
	top: 25px;
	right: 10px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
 }

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
 }
 .menu__btn > span::before {
	content: '';
	top: -8px;
 }
 .menu__btn > span::after {
	content: '';
	top: 8px;
 }


.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
 }

 .menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
 }
 .menu__item:hover {
	background-color: #CFD8DC;
 }
 #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
 }
 #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
 }
 #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(-90deg);
 }

 #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
 }

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	transition-duration: .25s;
 }
 .menu__box {
	transition-duration: .25s;
 }
 .menu__item {
	transition-duration: .25s;
 }

.header {
background-image: url('../img/rostyslav-savchyn-4nAh6u7dD1g-unsplash\ 1\ \(1\).png')  ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 1039px;
}
.container {
	max-width: 1050px;
	margin: 0 auto;
}
.header__row {
	position: relative;
display: flex;
justify-content: space-between;
padding-top: 50px;
align-items: center;
padding: 0 25px;
}
.header__logo a {
	
font-family: Mukta;
font-weight: 800;
font-size: 51px;
line-height: 85px;
color: #000000;
}

.nav__link {
	font-family: Mukta;
font-weight: 600;
font-size: 20px;
line-height: 33px;
margin-right: 44px;
color: #000000;
}
.nav__link :last-child{
margin-right: 0;
}
.acoount a {
	font-family: Mukta;
font-size: 20px;
line-height: 33px;
color: #000000;
}
.acoount__icon{
margin-top: 8px;
}
.follow{
padding-top: 155px;

}
.follow__link{
	margin-left: 5px;
}
.follow__link-img{
	margin-bottom: 13px;
}
.follow__text {
writing-mode: vertical-rl;
font-family: Mukta;
font-weight: 500;
font-size: 20px;
line-height: 33px;
margin-bottom: 25px;
color: #FFFFFF;
}
.hero{
	max-width: 600px;
	margin: 103px auto 0 ;
}
.line{
	width: 70px;
	margin: 10px 27px 0 0;
	margin-bottom: 25px;
	text-align: start;
}
.welcome{
	display: block;
	font-family: MS Reference Sans Serif;
	font-size: 20px;
	line-height: 24px;
	color: #FFFA86;
}
.header__title{
	
	font-family: Mongolian Baiti;
	font-size: 60px;
	line-height: 69px;
	color: #FFFFFF;
}
.scroll{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
margin:15px 16.5px 0 0;
}
.scrool__arrow {
width: 18px;
height: 29px;
}
.content {
	background: #002922;
	margin: 0 auto;
}
.travel {
padding-top: 120px;

}
.travel__row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.travel__content {
	max-width: 370px;
	margin-right: 78px;
}
.start{
	font-family: Montserrat;
font-size: 14px;
line-height: 17px;
color: #FFFA86;
}
.linee{
	margin: 6px 27px  19px 0;
}
.title {
font-family: Mongolian Baiti;
font-size: 52px;
line-height: 60px;
color: #FFFFFF;
}
.text {
font-family: Mongolian Baiti;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.link{
	margin-top: 16px;
}
.link__text {
font-family: Montserrat;
font-size: 14px;
line-height: 17px;
color: #FFFA86;
margin: 0px 15px 0 0;
}
.picking__row{
padding-top: 120px;
display: flex;
margin-left: 80px;
align-items: center;
justify-content: center;
}
.picking__content{
margin-left: 97px;
align-items: center;
justify-content: center;
max-width: 386px;
}
.where{
	padding-top: 109px;
	padding-bottom: 118px;
}
.where__row {
	display: flex;
align-items: center;
justify-content: center;
}
.where__content {
	max-width: 370px;
	margin-right: 78px;
}
.footer{
	min-height: 271px;
	background-color: #003229;
}
.footer__row {
	display: flex;
justify-content: space-evenly;
}
.footer__logo {
	padding-top: 53px;
}
.footer__title {
font-family: Mukta;
font-weight: 800;
font-size: 41px;
color: #FFFFFF;
}
.sub__title-adaptive {

font-family: Montserrat;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-top: 16px;
}
.sub__titlee{
	display: none;
}
.footer__info{
display: flex;
padding-right: 77px;
}
.blog{
	padding-top: 53px;
	margin-right: 150px;
}
.mini-title{
font-family: Montserrat;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #FFFA86;
}
.list a{
font-family: Montserrat;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}
.blog__title {

margin-bottom: 33px;
}
.blog__list {
margin-bottom: 18px;

}
.blog__list:last-child{
	margin-bottom: 0px;
}
.camping {
	padding-top: 53px;

}
.camping__title {
	margin-bottom: 29px;

}
.camping__list {
	margin-bottom: 10px;
}
.camping__link{
	margin-right:14px ;
}


@media screen and (max-width: 800px){

	


.hamburger-menu{
	display: block;
}
.nav{
	display: none;
}
.footer__logo{
	
} 

.picking__row{
	margin-left: -10px;
}
@media screen and (max-width:490px){

	.hamburger-menu{
		display: block;
	}
	.menu__btn {
		top: 15px;
		right: 0px;
	}
	.menu__box{
		width: 100%;
	}
	.container{
		
		padding: 3%;
	}
	.footer{
		padding: 3%;
	}
	.hero{
		max-width: 260px;
	}
	.welcome{
		font-size: 18px;
		line-height: 22px;
	}
	.scroll{
		font-size: 18px;
		line-height: 22px;	
	}
	.header{
		height: 557px;
	}
	.nav{
		display: none;
	}
	.text{
		display: none;
	}
	.follow{
		display: none;
	}
	.header__row{
		justify-content: space-between;
		padding: 0;
	}
	.header__logo a{
		font-weight: 800;
		font-size: 35px;
		line-height: 58px;
	}
	.acoount a{
		font-size: 15px;
line-height: 25px;
	}
	.acoount__icon{
		margin-top: 3px;
	}
	.header__title{
		font-size: 25px;
line-height: 29px;
	}
.title{
	font-size: 19px;
	line-height: 22px;
}
.start{
	font-size: 10px;
line-height: 12px;
color: #FFFA86;
}
.linee{
	width: 30.43px;
	margin: 6px 5px 8px 0;
}
.link__text{
	font-size: 10px;
line-height: 12px;
margin: 0 5px 0 0;
}

.picture{
	width: 160px;
	height: 160px;
}
.travel__content{
margin-right: 17px;
max-width: 102px;
}
.picking__content{
	margin-left: 11px;
	max-width: 102px;
}
.picking__row{
	margin-left: 0;
}
.where__content{
	margin-right: 5px;
	max-width: 102px;
}
.footer__logo{
	padding-top: 15px;
}
.footer__title{
font-size: 35px;
text-align: center;
}
.sub__title{
	display: none;
}
.footer__row{
	flex-wrap: wrap;
}
.footer__info{
padding: 10px 5% 0 ;
justify-content: space-between;
}
.mini-title{
	margin-bottom: 15px;
}
.blog{
	padding: 0;
	margin: 0 105px 0 0;
}
.camping {
	padding: 0;
}
.blog__list{
	margin-bottom: 10px;
}
.sub__titlee {
display: block;	
font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #B4B4B4;
text-align: start;
padding-top: 15px;
}
}
